Repository caiocampos/shrtr: changes, and which Codecov flags are due for each by the changed paths.
All: back, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      front:
        target: 50%
        flags: frontend
      back:
        target: 60%
        flags: backend

flags:
  back:  
    paths:
      - shrtr
  front:
    paths:
      - shrtrr

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Deploying to dist from @ caiocampos/shrtr@ec1635f46d615b2b249f5c54fb24120a312e64da 🚀
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@d1c2e75f1b7364c3e7fd495ecf08014748335aa5 🚀
  package.json
Due: none

chore: added ApiResponse interface to work with express and fastify
  shrtr/src/common/interfaces/http-interfaces.ts
  shrtr/src/modules/links/links.controller.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@9dcd3e77b4cd52de38bccded1639a16aca705c85 🚀
  main.js
Due: none

chore: changed HttpCode
  shrtr/src/modules/links/links.controller.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@e614ff95fc6bd28bed64157a72c3537dce75f397 🚀
  main.js
Due: none

chore: change redirect logic
  shrtr/src/common/interfaces/http-interfaces.ts
  shrtr/src/modules/links/links.controller.ts
  shrtrr/src/components/Routes/ToServer/index.tsx
Due: back, front

Deploying to dist from @ caiocampos/shrtr@e313c66826772edb39637ec64973f40210c772ad 🚀
  main.js
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@e313c66826772edb39637ec64973f40210c772ad 🚀
  404.html
  assets/index-BEtjuFzs.js
  assets/index-BXOD688O.js
  assets/index-CZfdJObL.js
  assets/index-CoUNPmNs.js
  assets/index-D27KAB1C.js
  assets/index-D6758hVv.js
  assets/index-D8zpdwP0.js
  index.html
Due: none

fix: server url
  shrtrr/src/services/shrtr.service.ts
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@36e37698e6e7ecf879f0c14b9245915c1db914e3 🚀
  404.html
  assets/index-AFjm0CYO.js
  assets/index-BfyQISR3.js
  assets/index-Bm5CHD54.js
  assets/index-CoUNPmNs.js
  assets/index-D27KAB1C.js
  assets/index-D8zpdwP0.js
  assets/index-DHOhpgNa.js
  index.html
Due: none

chore: change logic to detect empty alias
  shrtr/src/modules/links/links.service.ts
  shrtrr/src/services/shrtr.service.ts
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@2443a47e06b6996e763b25874b760f7d7b9a32bc 🚀
  404.html
  assets/index-AFjm0CYO.js
  assets/index-BAIZFZm7.js
  assets/index-Bm5CHD54.js
  assets/index-BtPJbENu.js
  assets/index-Cttcxv68.js
  assets/index-D1V7oEIv.js
  assets/index-DHOhpgNa.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@2443a47e06b6996e763b25874b760f7d7b9a32bc 🚀
  main.js
Due: none

chore: improved logging
  shrtr/src/modules/links/links.controller.ts
  shrtr/src/modules/links/links.service.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@4cb854bb701177b733081b4625718dc37785c368 🚀
  main.js
Due: none

chore: changed class decorations
  shrtr/src/modules/links/dto/link-add-request.dto.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@37443156616624c0253afda6fb7579c4d42bf44a 🚀
  main.js
Due: none

chore: change validation of existence
  shrtr/src/modules/links/links.service.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@ea144b7591d6b5cab4a111488125f40329dea3dc 🚀
  main.js
Due: none

chore: change error handling
  shrtr/src/modules/links/links.controller.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@7bb1c67c078ab4b75dc64600410d7354fc153b08 🚀
  main.js
Due: none

Deploying to dist from @ caiocampos/shrtr@a7135ac05ad234c3a83c3500155aa64fbf53064b 🚀
  main.js
Due: none

chore: change generate logic
  shrtr/src/modules/links/links.service.ts
Due: back

Deploying to dist from @ caiocampos/shrtr@15dc3b30695a7b5a0d59d6380eedf23ba23bddbc 🚀
  main.js
Due: none

chore: change error handling
  shrtrr/src/components/ShortenResponse/index.tsx
  shrtrr/src/services/shrtr.service.test.ts
  shrtrr/src/services/shrtr.service.ts
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@87bfeadcfaa06607a9691f2be3e8c7904c5e4054 🚀
  404.html
  assets/index-1VkoJVmp.js
  assets/index-2cKT6f4a.js
  assets/index-BAIZFZm7.js
  assets/index-BtPJbENu.js
  assets/index-CjFHJhun.js
  assets/index-D1V7oEIv.js
  assets/index-DIatnvsJ.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@27929d4972725b0989bef13e155c46fea5796968 🚀
  package.json
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@a9bfd288a12761c086d2f0c57a20d66d32b4c133 🚀
  404.html
  assets/index-2cKT6f4a.js
  assets/index-BckQD_IV.js
  assets/index-BuW-3ANP.js
  assets/index-C81LUMIl.js
  assets/index-CjFHJhun.js
  assets/index-DIatnvsJ.js
  assets/index-vL_dHWbJ.js
  assets/vendor_react-BhSUrOfD.js
  assets/vendor_react-D4Uif0-N.js
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@93e87d10cb1d91ce6254827be16596a8741d76e5 🚀
  404.html
  assets/index-BZ0uIjZM.js
  assets/index-BckQD_IV.js
  assets/index-BuW-3ANP.js
  assets/index-C81LUMIl.js
  assets/index-CssC6tsM.js
  assets/index-CvunOTEN.js
  assets/index-PNdkpp_t.js
  assets/vendor_react-Ch055bzs.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@833d4c1d50a999903e63804ea522b1c8afaa8521 🚀
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@06252c6dbffdc17ba2e7f54abd1a54a1dd736f2d 🚀
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@ac1a085523688d150f3bbdff7ad3481b963ddb3f 🚀
  package.json
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@bd17c593f32d8c494588b5cc3e3ba3372d52e144 🚀
  404.html
  assets/index-BB9naYWJ.js
  assets/index-BuK826Y3.js
  assets/index-CGKc2-hx.js
  assets/index-CssC6tsM.js
  assets/index-CvunOTEN.js
  assets/index-PNdkpp_t.js
  assets/index-z0Kr-3ka.js
  assets/vendor_react-Ch055bzs.js
  assets/vendor_react-DTJYCWKY.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@bdd4cceca1fd79b16a88bfc7f7f433bb2d1cf4c8 🚀
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@00e4294bd920dd53fc758c8e9a305f6e1bb096e6 🚀
  package.json
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@9063fb073ca846f0789c2c13efcf12de48fa5500 🚀
  404.html
  assets/index-Bo9IEw4d.js
  assets/index-Br2s2Mhy.js
  assets/index-BuK826Y3.js
  assets/index-CGKc2-hx.js
  assets/index-D1gs11gT.js
  assets/index-fgRoCjxd.js
  assets/index-z0Kr-3ka.js
  assets/vendor_react-BwfNvO0x.js
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@bfa6d2c72325fdda42a8b64371c24b5ce0941f5f 🚀
  404.html
  assets/index-BBzfiofz.js
  assets/index-BpFoLXrr.js
  assets/index-Br2s2Mhy.js
  assets/index-ClWFIb5z.js
  assets/index-D1gs11gT.js
  assets/index-EzvaP4Ue.js
  assets/index-fgRoCjxd.js
  assets/vendor_react-BwfNvO0x.js
  assets/vendor_react-DTN1_YBS.js
  index.html
Due: none
