Repository caiocampos/shrtr: changes, and which Codecov flags are due for each by the changed paths.
All: back, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      front:
        target: 50%
        flags: frontend
      back:
        target: 60%
        flags: backend

flags:
  back:  
    paths:
      - shrtr
  front:
    paths:
      - shrtrr

Update README.md
  README.md
Due: none

Ajuste em rotas
  shrtrr/src/components/Router/index.js
Due: back, front

Ajuste em rotas para correção de erros
  shrtrr/src/components/Router/index.js
Due: back, front

Ajuste em redirecionamento
  shrtrr/src/components/ShrtrServiceResponse/index.js
Due: back, front

Melhorias no projeto
  shrtr/api/app.spec.js
  shrtr/api/controller/link-controller.js
  shrtr/api/repository/abs-repository.js
  shrtr/api/repository/link-repository.js
  shrtr/api/routes.js
  shrtr/api/service/link-service.js
  shrtr/api/service/link-service.spec.js
  shrtr/package-lock.json
  shrtr/yarn.lock
  shrtrr/package-lock.json
  shrtrr/src/App.js
  shrtrr/src/components/Form/index.js
  shrtrr/src/components/Redirect/Redirect.test.js
  shrtrr/src/components/Redirect/index.js
  shrtrr/src/components/Router/Router.test.js
  shrtrr/src/components/Router/index.js
  shrtrr/src/components/Routes/Routes.test.js
  shrtrr/src/components/Routes/ToServer/ToServer.test.js
  shrtrr/src/components/Routes/ToServer/index.js
  shrtrr/src/components/Routes/index.js
  shrtrr/src/components/ShortenResponse/ShortenResponse.test.js
  shrtrr/src/components/ShortenResponse/index.js
  shrtrr/src/components/ShrtrServiceResponse/ShrtrServiceResponse.test.js
  shrtrr/src/components/ShrtrServiceResponse/index.js
  shrtrr/src/components/Status/Status.module.scss
  shrtrr/src/components/Wrapper/Wrapper.module.scss
  shrtrr/src/constants.js
  shrtrr/src/containers/E404/E404.test.js
  shrtrr/src/containers/E404/index.js
  shrtrr/src/containers/Shrtr/Shrtr.test.js
  shrtrr/src/containers/Shrtr/index.js
  shrtrr/src/index.scss
  shrtrr/src/services/shrtr.service.js
  shrtrr/src/services/shrtr.service.test.js
  shrtrr/yarn.lock
Due: back, front

Adição de basename
  shrtrr/src/App.js
Due: back, front

ajuste
  shrtrr/src/App.js
Due: back, front

teste
  shrtrr/src/App.js
Due: back, front

Update .travis.yml
  .travis.yml
Due: none

Melhoria de dependências
  shrtrr/package-lock.json
  shrtrr/yarn.lock
Due: back, front

Alterado Sass utilizado no projeto
  shrtrr/package-lock.json
  shrtrr/package.json
  shrtrr/yarn.lock
Due: back, front

Ajuste de dependências
  shrtrr/package-lock.json
  shrtrr/package.json
  shrtrr/yarn.lock
Due: back, front

Melhorada padronização de projeto
  shrtr/api/app.js
  shrtr/api/constants.js
  shrtr/api/controller.js
  shrtr/api/controller/link-controller.js
  shrtr/api/repository.js
  shrtr/api/repository/abs-repository.js
  shrtr/api/repository/link-repository.js
  shrtr/api/routes.js
  shrtr/api/service.js
  shrtr/api/service/link-service.js
  shrtr/index.js
  shrtr/package.json
Due: back

Ajustes em padronização
  shrtrr/src/App.js
  shrtrr/src/components/Color/index.js
  shrtrr/src/components/Form/TextInputList.js
  shrtrr/src/components/Form/index.js
  shrtrr/src/components/Main/Main.module.scss
  shrtrr/src/components/Main/index.js
  shrtrr/src/components/Routes/ToServer/index.js
  shrtrr/src/components/Routes/index.js
  shrtrr/src/components/ShortenResponse/index.js
  shrtrr/src/components/Status/index.js
  shrtrr/src/components/TextInput/index.js
  shrtrr/src/components/Title/index.js
  shrtrr/src/components/Wrapper/index.js
  shrtrr/src/constants.js
  shrtrr/src/containers/E404/index.js
  shrtrr/src/containers/Shrtr/index.js
  shrtrr/src/services/shrtr.service.js
Due: back, front

Readaptado para o Repl.it
  shrtr/api/app.js
  shrtr/api/constants.js
  shrtr/api/controller.js
  shrtr/api/controller/link-controller.js
  shrtr/api/repository.js
  shrtr/api/repository/abs-repository.js
  shrtr/api/repository/link-repository.js
  shrtr/api/routes.js
  shrtr/api/service.js
  shrtr/api/service/link-service.js
  shrtr/index.js
  shrtr/package.json
  shrtr/static/script.js
Due: back

Update package.json
  shrtrr/package.json
Due: back, front

Update dependabot.yml
  .github/dependabot.yml
Due: none

Deploy caiocampos/shrtr to github.com/caiocampos/shrtr.git:gh-pages
  404.html
  asset-manifest.json
  favicon.ico
  favicon.png
  index.html
  manifest.json
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.e65c6203.chunk.css
  static/css/main.e65c6203.chunk.css.map
  static/js/2.7f49bd93.chunk.js
  static/js/2.7f49bd93.chunk.js.LICENSE.txt
  static/js/2.7f49bd93.chunk.js.map
  static/js/3.f250d88d.chunk.js
  static/js/3.f250d88d.chunk.js.map
  static/js/4.af1fdebf.chunk.js
  static/js/4.af1fdebf.chunk.js.map
  static/js/main.5bf6b97f.chunk.js
  static/js/main.5bf6b97f.chunk.js.map
  static/js/runtime-main.449c9f64.js
  static/js/runtime-main.449c9f64.js.map
Due: none

Atualização de projeto para utilizar mongo
  LICENSE
  README.md
  shrtr/.gitignore
  shrtr/.jshintrc
  shrtr/.nvmrc
  shrtr/.prettierignore
  shrtr/.prettierrc.json
  shrtr/.replit
  shrtr/api/app.js
  shrtr/api/app.spec.js
  shrtr/api/constants.js
  shrtr/api/controller.js
  shrtr/api/controller/link-controller.js
  shrtr/api/repository.js
  shrtr/api/repository/abs-repository.js
  shrtr/api/repository/link-repository.js
  shrtr/api/routes.js
  shrtr/api/service.js
  shrtr/api/service/link-service.js
  shrtr/api/service/link-service.spec.js
  shrtr/db/link
  shrtr/index.js
  shrtr/package-lock.json
  shrtr/package.json
  shrtr/static/404.html
  shrtr/static/404.js
  shrtr/static/index.html
  shrtr/static/script.js
  shrtr/static/style.css
  shrtr/yarn.lock
  shrtrr/src/services/shrtr.service.js
Due: back, front

Ajuste de dependências
  shrtrr/package-lock.json
  shrtrr/yarn.lock
Due: back, front

Atualização de página
  404.html
  asset-manifest.json
  index.html
  static/css/main.e65c6203.chunk.css
  static/css/main.e65c6203.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.2d38b86d.chunk.js
  static/js/2.2d38b86d.chunk.js.LICENSE.txt
  static/js/2.2d38b86d.chunk.js.map
  static/js/2.7f49bd93.chunk.js
  static/js/2.7f49bd93.chunk.js.map
  static/js/3.c1917625.chunk.js
  static/js/3.c1917625.chunk.js.map
  static/js/3.f250d88d.chunk.js
  static/js/3.f250d88d.chunk.js.map
  static/js/4.33bebc3c.chunk.js
  static/js/4.33bebc3c.chunk.js.map
  static/js/4.af1fdebf.chunk.js
  static/js/4.af1fdebf.chunk.js.map
  static/js/main.5aeca947.chunk.js
  static/js/main.5aeca947.chunk.js.map
  static/js/main.5bf6b97f.chunk.js
  static/js/main.5bf6b97f.chunk.js.map
  static/js/runtime-main.449c9f64.js
  static/js/runtime-main.449c9f64.js.map
  static/js/runtime-main.4d97f370.js
  static/js/runtime-main.4d97f370.js.map
Due: none

adição de prettier
  shrtr/.replit
  shrtr/yarn.lock
  shrtrr/.jshintrc
  shrtrr/.nvmrc
  shrtrr/.prettierignore
  shrtrr/.prettierrc.json
  shrtrr/.replit
  shrtrr/package.json
  shrtrr/public/index.html
  shrtrr/public/manifest.json
  shrtrr/src/App.js
  shrtrr/src/App.test.js
  shrtrr/src/components/Color/Color.test.js
  shrtrr/src/components/Form/Form.test.js
  shrtrr/src/components/Form/TextInputList.js
  shrtrr/src/components/Main/Main.test.js
  shrtrr/src/components/Routes/Routes.test.js
  shrtrr/src/components/Routes/ToServer/ToServer.test.js
  shrtrr/src/components/ShortenResponse/ShortenResponse.test.js
  shrtrr/src/components/Status/Status.test.js
  shrtrr/src/components/TextInput/TextInput.test.js
  shrtrr/src/components/Title/Title.test.js
  shrtrr/src/components/Wrapper/Wrapper.test.js
  shrtrr/src/containers/E404/E404.test.js
  shrtrr/src/containers/E404/index.js
  shrtrr/src/containers/Shrtr/Shrtr.test.js
  shrtrr/src/index.test.js
  shrtrr/src/services/shrtr.service.js
  shrtrr/src/services/shrtr.service.test.js
  shrtrr/yarn.lock
Due: back, front

Implantação
  asset-manifest.json
  index.html
  manifest.json
  static/js/3.c1917625.chunk.js.map
  static/js/4.33bebc3c.chunk.js.map
  static/js/main.5aeca947.chunk.js
  static/js/main.5aeca947.chunk.js.map
  static/js/main.60ec8354.chunk.js
  static/js/main.60ec8354.chunk.js.map
Due: none

Delete static directory
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.2d38b86d.chunk.js
  static/js/2.2d38b86d.chunk.js.LICENSE.txt
  static/js/2.2d38b86d.chunk.js.map
  static/js/3.c1917625.chunk.js
  static/js/3.c1917625.chunk.js.map
  static/js/4.33bebc3c.chunk.js
  static/js/4.33bebc3c.chunk.js.map
  static/js/main.60ec8354.chunk.js
  static/js/main.60ec8354.chunk.js.map
  static/js/runtime-main.4d97f370.js
  static/js/runtime-main.4d97f370.js.map
Due: none

Atualização de versão
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.844d391c.chunk.js
  static/js/3.844d391c.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.f686ba17.chunk.js
  static/js/main.f686ba17.chunk.js.map
  static/js/runtime-main.78907d5d.js
  static/js/runtime-main.78907d5d.js.map
Due: none

Delete static directory
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.844d391c.chunk.js
  static/js/3.844d391c.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.f686ba17.chunk.js
  static/js/main.f686ba17.chunk.js.map
  static/js/runtime-main.78907d5d.js
  static/js/runtime-main.78907d5d.js.map
Due: none

Atualização de build
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.a1f9614d.chunk.js
  static/js/main.a1f9614d.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

Delete static directory
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.a1f9614d.chunk.js
  static/js/main.a1f9614d.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

Add files via upload
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.844d391c.chunk.js
  static/js/3.844d391c.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.f686ba17.chunk.js
  static/js/main.f686ba17.chunk.js.map
  static/js/runtime-main.78907d5d.js
  static/js/runtime-main.78907d5d.js.map
Due: none

build
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.a1f9614d.chunk.js
  static/js/main.a1f9614d.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

build
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.844d391c.chunk.js
  static/js/3.844d391c.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.f686ba17.chunk.js
  static/js/main.f686ba17.chunk.js.map
  static/js/runtime-main.78907d5d.js
  static/js/runtime-main.78907d5d.js.map
Due: none

Add files via upload
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.a1f9614d.chunk.js
  static/js/main.a1f9614d.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

Add files via upload
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.fb864e0a.chunk.js
  static/js/main.fb864e0a.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

Delete static directory
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c3b3a3a4.chunk.js
  static/js/2.c3b3a3a4.chunk.js.LICENSE.txt
  static/js/2.c3b3a3a4.chunk.js.map
  static/js/3.1562c6ad.chunk.js
  static/js/3.1562c6ad.chunk.js.map
  static/js/4.9dc0f94a.chunk.js
  static/js/4.9dc0f94a.chunk.js.map
  static/js/main.fb864e0a.chunk.js
  static/js/main.fb864e0a.chunk.js.map
  static/js/runtime-main.f953ec83.js
  static/js/runtime-main.f953ec83.js.map
Due: none

Add files via upload
  asset-manifest.json
  index.html
  static/css/3.7a8adcf6.chunk.css
  static/css/3.7a8adcf6.chunk.css.map
  static/css/4.afbcab00.chunk.css
  static/css/4.afbcab00.chunk.css.map
  static/css/main.fb19fd7c.chunk.css
  static/css/main.fb19fd7c.chunk.css.map
  static/js/2.c6ac8ca4.chunk.js
  static/js/2.c6ac8ca4.chunk.js.LICENSE.txt
  static/js/2.c6ac8ca4.chunk.js.map
  static/js/3.afbc66ab.chunk.js
  static/js/3.afbc66ab.chunk.js.map
  static/js/4.a75b508d.chunk.js
  static/js/4.a75b508d.chunk.js.map
  static/js/main.f5a3fe7c.chunk.js
  static/js/main.f5a3fe7c.chunk.js.map
  static/js/runtime-main.5348edbf.js
  static/js/runtime-main.5348edbf.js.map
Due: none
