Repository caiocampos/shrtr: changes, and which Codecov flags are due for each by the changed paths.
All: back, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      front:
        target: 50%
        flags: frontend
      back:
        target: 60%
        flags: backend

flags:
  back:  
    paths:
      - shrtr
  front:
    paths:
      - shrtrr

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

chore: changed env
  shrtrr/src/constants.js
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@1eb17a829328dc6c900822d5718d61d43c02e0be 🚀
  404.html
  asset-manifest.json
  index.html
  static/js/main.ac724b44.js
  static/js/main.ac724b44.js.map
  static/js/main.adf74126.js
  static/js/main.adf74126.js.LICENSE.txt
  static/js/main.adf74126.js.map
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@ebce543176b4fc05872028f7de3a13a639c3726f 🚀
  404.html
  asset-manifest.json
  index.html
  static/js/main.adf74126.js
  static/js/main.adf74126.js.map
  static/js/main.baa792d1.js
  static/js/main.baa792d1.js.LICENSE.txt
  static/js/main.baa792d1.js.map
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@fd563c58269ec6ac9e8c7eb83de14cd98b8b0e2b 🚀
  404.html
  asset-manifest.json
  assets/favicon-DHNgrR9Y.ico
  assets/index-BUdstXsJ.css
  assets/index-BUoT7Hwv.js
  assets/index-Bniy3RV7.js
  assets/index-DEaR76wr.js
  assets/index-FllJQUP6.js
  assets/index-pweAq0Qq.css
  assets/index-qOFnp47E.css
  assets/manifest-jTzCgrBE.json
  assets/vendor_react-BitxTTc_.js
  favicon.png
  index.html
  static/css/183.462008e1.chunk.css
  static/css/183.462008e1.chunk.css.map
  static/css/466.292c8093.chunk.css
  static/css/466.292c8093.chunk.css.map
  static/css/main.721a5ef2.css
  static/css/main.721a5ef2.css.map
  static/js/183.5e766e0e.chunk.js
  static/js/183.5e766e0e.chunk.js.map
  static/js/466.93c78cbf.chunk.js
  static/js/466.93c78cbf.chunk.js.map
  static/js/main.baa792d1.js
  static/js/main.baa792d1.js.LICENSE.txt
  static/js/main.baa792d1.js.map
Due: none

chore: changed styles
  shrtr/static/style.css
  shrtrr/src/components/Form/Form.module.scss
  shrtrr/src/components/Title/Title.module.scss
  shrtrr/src/components/Wrapper/Wrapper.module.scss
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@a200bfda7e6fd6e86bf33b6db10d4a83696eab9e 🚀
  404.html
  assets/index-75LO-9Mo.js
  assets/index-BUdstXsJ.css
  assets/index-BUoT7Hwv.js
  assets/index-Bniy3RV7.js
  assets/index-C4JWiJFi.js
  assets/index-CZ87XKIs.js
  assets/index-DEaR76wr.js
  assets/index-D_ZQxUlR.js
  assets/index-DePhcor3.css
  assets/index-DkqND7By.css
  assets/index-FllJQUP6.js
  assets/index-pweAq0Qq.css
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@2b9410490e49058ff89619678e6eb790b496353a 🚀
  404.html
  assets/index-75LO-9Mo.js
  assets/index-C1jyHjcY.js
  assets/index-C4JWiJFi.js
  assets/index-CZ87XKIs.js
  assets/index-CmR4wRX3.js
  assets/index-D01Cy-On.js
  assets/index-D_ZQxUlR.js
  assets/index-kjJR7ZOL.js
  index.html
Due: none

chore: changed routes
  shrtr/src/modules/links/links.controller.ts
  shrtrr/src/components/ShortenResponse/index.tsx
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@19049cf316fe4cc3408f18b4ce90ea70d160b0e9 🚀
  404.html
  assets/index-6bkMuVSe.js
  assets/index-C1jyHjcY.js
  assets/index-CmR4wRX3.js
  assets/index-D01Cy-On.js
  assets/index-DOEj_L99.js
  assets/index-DsWP3aSw.js
  assets/index-PeFUBE9P.js
  assets/index-kjJR7ZOL.js
  index.html
Due: none

fix: redirect
  shrtrr/src/components/Routes/ToServer/index.tsx
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@e074b28350b91417fa5c775fdd28b528684b0cff 🚀
  404.html
  assets/index-6bkMuVSe.js
  assets/index-BKToOWtY.js
  assets/index-BSJSVPKT.js
  assets/index-BzWazRnN.js
  assets/index-DOEj_L99.js
  assets/index-DsWP3aSw.js
  assets/index-DzgCiC1H.js
  assets/index-PeFUBE9P.js
  index.html
Due: none

chore: automaticaly update dist.json
  shrtr/build.sh
  shrtr/dist.json
  shrtr/generate-dist-json.js
Due: back

Deploying to gh-pages from @ caiocampos/shrtr@f2d33181f989a4d5165b907a207998a09c1fa196 🚀
  404.html
  assets/index-BKToOWtY.js
  assets/index-BSJSVPKT.js
  assets/index-BzWazRnN.js
  assets/index-DYLJhYPD.js
  assets/index-DcIPzDtp.js
  assets/index-DzgCiC1H.js
  assets/index-ZqIqgE0t.js
  assets/index-jRTPVKlk.js
  assets/vendor_react-BitxTTc_.js
  assets/vendor_react-Cx4M8jOK.js
  index.html
Due: none

Create deploy-back.yml
  .github/workflows/deploy-back.yml
Due: none

Deploying to dist from @ caiocampos/shrtr@0b2f6f12a692d720ec4e1b2a43831823ad002ea3 🚀
  .gitignore
  index.js
  main.js
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@637450bce622efc51419f7ebfe2d7144e46c0ffb 🚀
  package.json
Due: none

Deploying to dist from @ caiocampos/shrtr@e10a98a93f2b1c0a80e0b6108ade75bf24fe7032 🚀
  package.json
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@2ee497f64c498cfc21ea0f748f549403cadf83f9 🚀
  404.html
  assets/index-BMlIa3Ox.js
  assets/index-BUQKwlP1.js
  assets/index-DYLJhYPD.js
  assets/index-DcIPzDtp.js
  assets/index-Okc_e-oG.js
  assets/index-TRfHRCpB.js
  assets/index-ZqIqgE0t.js
  assets/index-jRTPVKlk.js
  assets/vendor_react--IbvV4c7.js
  assets/vendor_react-Cx4M8jOK.js
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@c8cedb8949131c94e3363f9d5018b8b3ba1e8876 🚀
  404.html
  assets/index-BBos-l7d.js
  assets/index-BMlIa3Ox.js
  assets/index-BUQKwlP1.js
  assets/index-CIXwNPCv.js
  assets/index-Cj2qvoiD.js
  assets/index-Okc_e-oG.js
  assets/index-TRfHRCpB.js
  assets/index-rPk_Rk_a.js
  assets/vendor_react-BlCfV_Ce.js
  index.html
Due: none

chore: improve code quality
  shrtr/yarn.lock
  shrtrr/package.json
  shrtrr/src/components/Color/index.tsx
  shrtrr/yarn.lock
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@72dbdf7984747163e2699cc8446ca73c0b83073b 🚀
  404.html
  assets/index-B9vHm9w6.js
  assets/index-BBos-l7d.js
  assets/index-C556Zxi3.js
  assets/index-CIXwNPCv.js
  assets/index-CRcp1vh-.js
  assets/index-Cj2qvoiD.js
  assets/index-HbulfxBd.js
  assets/index-rPk_Rk_a.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@21dd1e8aeccdef840f69015b17d43c8684c855a4 🚀
  package.json
Due: none

chore: update vite
  shrtrr/package.json
  shrtrr/vite.config.ts
  shrtrr/yarn.lock
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@25a96574b89b7111fb597008af7d055e7afe4a08 🚀
  404.html
  assets/index-B-1g4Gxx.js
  assets/index-B9vHm9w6.js
  assets/index-C556Zxi3.js
  assets/index-C7R5gwYC.js
  assets/index-CR84F35I.js
  assets/index-CRcp1vh-.js
  assets/index-HbulfxBd.js
  assets/index-qEJYkF_4.js
  assets/vendor_react-BlCfV_Ce.js
  assets/vendor_react-CYR5vKxk.js
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@5d6f2135faf0aa84be02b8d381a096ebd1415c6d 🚀
  404.html
  assets/index-B-1g4Gxx.js
  assets/index-BPNiyk8q.js
  assets/index-Bty10_tw.js
  assets/index-C7R5gwYC.js
  assets/index-CR84F35I.js
  assets/index-C_Bwx0QF.js
  assets/index-DHbTQyfW.js
  assets/index-qEJYkF_4.js
  assets/vendor_react-CYR5vKxk.js
  assets/vendor_react-CpDCxKEg.js
  index.html
Due: none

Deploying to gh-pages from @ caiocampos/shrtr@ddbf680d41c0843bd5e651b80fef31885edcce1c 🚀
  404.html
  assets/index-BPNiyk8q.js
  assets/index-BXxLhMZh.js
  assets/index-Bty10_tw.js
  assets/index-C_Bwx0QF.js
  assets/index-CzwLps_3.js
  assets/index-DHbTQyfW.js
  assets/index-DbVmTBPr.js
  assets/index-GahEgRmN.js
  assets/vendor_react-CpDCxKEg.js
  assets/vendor_react-CrS48dgO.js
  index.html
Due: none

Deploying to dist from @ caiocampos/shrtr@e4c8a84441b59b2d24ac2022f0eb4f58438f8a33 🚀
  package.json
Due: none

chore: update react
  shrtrr/package.json
  shrtrr/src/App.tsx
  shrtrr/src/components/Color/index.tsx
  shrtrr/src/components/Form/TextInputList.tsx
  shrtrr/src/components/Form/index.tsx
  shrtrr/src/components/Routes/index.tsx
  shrtrr/src/components/ShortenResponse/index.tsx
  shrtrr/src/components/Status/index.tsx
  shrtrr/src/components/TextInput/index.tsx
  shrtrr/src/components/Title/index.tsx
  shrtrr/src/components/Wrapper/index.tsx
  shrtrr/src/containers/E404/index.tsx
  shrtrr/src/containers/Shrtr/Shrtr.test.tsx
  shrtrr/src/containers/Shrtr/index.tsx
  shrtrr/src/services/shrtr.service.ts
  shrtrr/yarn.lock
Due: back, front

Deploying to gh-pages from @ caiocampos/shrtr@6c50dfb6092a0416db796c269691152927d86eb3 🚀
  404.html
  assets/index-2mruVXs7.js
  assets/index-BEtjuFzs.js
  assets/index-BXOD688O.js
  assets/index-BXxLhMZh.js
  assets/index-CzwLps_3.js
  assets/index-D6758hVv.js
  assets/index-DbVmTBPr.js
  assets/index-GahEgRmN.js
  assets/vendor_react-BhSUrOfD.js
  assets/vendor_react-CrS48dgO.js
  index.html
Due: none

Update deploy-back.yml
  .github/workflows/deploy-back.yml
Due: none
